* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

body {
  background: #161616;
}

// Title of sections
.sec__title {
  margin-bottom: 23px;

  h3 {
    font-family: "Myriad Pro", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
    letter-spacing: -1px;

    span {
      color: #ffc600;
      font-size: 50px;

      &:nth-child(2) {
        color: black;
      }
    }
  }
}

.sec__discription {
  .descr__title {
    color: #1d1d1d;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 20px;

    span {
      font-size: 16px;
    }
  }

  .descr__text {
    font-size: 13px;
    color: #595959;
  }
}

#uptotop{
  display: none;
  position: fixed;
  left: 75%;
  bottom: 20px;
  cursor: pointer;
  opacity: 0.6;
  border-radius: 50%;
  background: white;
  img{
    width: 60px;
    height: 60px;
  }
}



header {
  background-image: url("../img/bg_img_header.png"), url("../img/bg_col_header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    padding: 130px 0 0;

    .sec__wrap {
      h1 {
        font-family: "Myriad Pro", sans-serif;
        font-size: 202px;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: -10px;
        line-height: 150px;

        span {
          color: #ffc600;
        }
      }

      p {
        color: #ffffff;
        font-family: "Myriad Pro", sans-serif;;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: normal;
        text-align: left;
        width: 390px;
        margin-bottom: 111px;

        span {
          color: #ffc600;
        }
      }

      .navigation {
        background: url("../img/bg_img2_header.png") center/cover;
        padding: 70px 46px 418px;

        h2 {
          font-family: "Myriad Pro", sans-serif;
          max-width: 460px;
          font-size: 60px;
          font-weight: 700;
          line-height: 48px;
          letter-spacing: -3px;
          color: #ffffff;
          margin-bottom: 60px;

          span {
            color: #ffc600;
          }
        }

        .menu {
          ul {
            display: flex;
            align-items: center;
            justify-content: start;

            li {
              list-style: none;

              a {
                text-decoration: none;
                font-family: "Myriad Pro", sans-serif;
                font-size: 18px;
                font-weight: 400;
                color: #ffc600;
                position: relative;
                transition: 0.4s;

                &:after {
                  content: "";
                  position: absolute;
                  bottom: -2px;
                  width: 0;
                  height: 1px;
                  background: #ffc600;
                  left: 0;
                  transition: 0.5s;
                }

                &:hover {
                  color: white;
                }

                &:hover:after {
                  width: 100%;
                }
              }

              &:not(:last-child) {
                margin-right: 35px;
              }
            }
          }
        }
      }
    }


  }
}

.about {
  font-family: "Myriad Pro", sans-serif;

  .container {
    .sec__wrap {
      background: white;
      padding-bottom: 111px;

      .sec__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 36px 3px 72px 133px;

        .sec__title {
          width: 49%;
          border-right: 1px solid #c4c4c4;
          padding: 20px 0;

          h3 {
            color: #717171;
            font-size: 30px;
            font-weight: 600;
            line-height: 30px;

            span {
              font-size: 50px;
              line-height: 50px;
            }
          }

          h2 {
            font-size: 80px;
            font-weight: 600;
            line-height: 68px;

            span {
              color: #ffc600;
            }
          }
        }

        .sec__discription {
          width: 49%;
        }
      }

      .sec__body {
        .sec__items {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          .sec__item {
            max-width: 235px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .item__pic {
              margin-bottom: 24px;
            }

            .item_title {
              color: #000000;
              font-size: 18px;
              margin-bottom: 19px;
            }

            p {
              color: #000000;
              font-style: italic;
              font-size: 10px;
              margin-bottom: 10px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.projects {
  .container {
    .sec__wrap {
      padding: 0 81px 26px;
      background: white;

      .sec__menu {
        ul {
          display: flex;
          align-items: center;
          justify-content: start;
          font-family: "Myriad Pro", sans-serif;
          font-weight: 600;
          font-size: 9px;

          li {
            list-style: none;

            a {
              text-decoration: none;
              color: #101010;
              position: relative;

              &:after {
                content: "";
                position: absolute;
                width: 0;
                height: 1px;
                left: 50%;
                bottom: -4px;
                background: #ffc600;
                transform: translateX(-50%);
                transition: .4s;
              }

              &:hover:after {
                width: 23px;
              }
            }

            &:not(:last-child) {
              margin-right: 20px;
            }

            &:first-child {
              margin-right: 35px;
            }
          }
        }
      }
    }
  }

  .projects__pics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .projects__pic {
      width: calc(100% / 4);
      height: 267px;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: cover;
        transition: 3s;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

.strategic {
  .container {
    .sec__wrap {
      background: white;
      padding: 65px 65px 65px 79px;

      .sec__discription {
        margin-bottom: 43px;
      }

      .strategic__items {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 860px;
        width: 100%;
        flex-wrap: wrap;
        margin: auto;

        .strategic__item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;

          .item__img {
            width: 50%;
            overflow: hidden;

            img {
              width: 100%;
              transition: 4s;

              &:hover {
                transform: scale(1.05);
              }
            }
          }

          .item__text {
            width: 50%;
            padding: 0 40px;
          }

          &:nth-child(even) {
            .item__img {
              order: 2;
            }

            .item__text {
              order: 1;
            }
          }
        }
      }
    }
  }
}

.services {
  .container {
    .sec__wrap {
      padding: 41px 184px 58px 50px;
      background: url("../img/sec_bg_services.png") center/cover, url("../img/sec_bg_services2.png") center/cover;

      .sec__title {
        margin-bottom: 55px;

        h3 {
          color: white;

          span:nth-child(2) {
            color: white;
          }
        }
      }

      .services__items {
        margin-left: auto;
        color: white;
        font-family: "Myriad Pro", sans-serif;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 540px;
        width: 100%;

        .services__item {
          max-width: 225px;

          h5 {
            font-size: 18px;
            margin-bottom: 26px;
          }

          p {
            font-size: 11px;
          }

          &:nth-child(1),
          &:nth-child(2) {
            margin-bottom: 75px;
          }
        }
      }
    }
  }
}

.team {
  .container {
    .sec__wrap {
      background: white;
      padding: 85px 69px 150px 50px;
      display: flex;
      justify-content: space-between;

      .sec__title {
      }

      .team__content {
        width: 782px;

        .sec__discription {
          max-width: 624px;
          margin-bottom: 35px;

          .descr__title {
            font-size: 16px;
          }

          .descr__text {
            font-size: 14px;
          }
        }

        .team__pics {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .team__pic {
            text-align: center;
            font-family: "Myriad Pro", sans-serif;
            margin-bottom: 16px;

            h5 {
              font-size: 16px;
              font-weight: 600;
            }

            p {
              font-size: 16px;
              font-style: italic;
            }
          }
        }
      }
    }
  }
}

.testimonials {
  .container {
    .sec__wrap {
      background: black;
      color: white;
      padding: 55px 50px 136px;

      .sec__title {
        margin-bottom: 0;

        h3 {
          color: white;
        }
      }

      .testimonials__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 835px;
        width: 100%;
        margin-left: 42px;

        .sec__discription {
          max-width: 624px;
          width: 100%;

          .descr__title {
            color: white;
          }

          .descr__text {
            color: white;
          }
        }

        .testimonials__phpto {
          text-align: center;
          font-family: "Myriad Pro", sans-serif;

          .photo {
            width: 127px;
            height: 127px;
            margin-bottom: 26px;
          }

          h5 {
            font-size: 16px;
            font-weight: 600;
          }

          p {
            font-size: 16px;
            font-style: italic;
          }
        }
      }
    }
  }
}

.blog {
  .container {
    .sec__wrap {
      background: white;

      .blog__nav {
        display: flex;
        justify-content: space-between;
        padding: 30px 58px 115px;

        .sec__title {
          display: flex;
          margin-bottom: 0;

          .blog__menu {
            display: flex;

            ul {
              align-self: flex-end;
              font-family: "Myriad Pro", sans-serif;
              font-size: 18px;
              margin-top: 100px;

              li {
                list-style: none;

                &:not(:last-child) {
                  margin-bottom: 20px;
                }

                a {
                  text-decoration: none;
                  color: #000;
                  transition: .3s;

                  &:hover {
                    color: #ffc600;
                  }
                }
              }
            }
          }
        }

        .blog__items {
          display: flex;
          justify-content: space-between;
          width: 738px;

          .blog__item {
            max-width: 180px;
            width: 100%;

            .item__pic {
              width: 100%;

              img {
                width: 100%;
              }
            }

            .item__date {
              margin-bottom: 20px;

              h4 {
                font-family: "Myriad Pro", sans-serif;
                font-size: 18px;
                color: #ffc600;
              }
            }

            .item__title {
              margin-bottom: 10px;

              h4 {
                font-family: "Myriad Pro", sans-serif;
                font-size: 15px;
                font-weight: 700;
              }
            }

            .item__text {
              font-family: "Myriad Pro", sans-serif;
              font-style: italic;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

.contact {
  .container {
    .sec__wrap {
      background: #2046b3;
      display: flex;

      .map {
        max-width: 42%
      }

      .contact__form {
        max-width: 58%;
        padding: 52px 76px 44px;

        .sec__title {
          h3 {
            color: white;

            span {
              color: #ffc600;

              &:nth-child(2) {
                color: white;
              }
            }
          }
        }

        .form {
          font-family: "Myriad Pro", sans-serif;
          font-weight: 600;
          font-size: 16px;
          width: 412px;
          text-align: justify;
          margin-bottom: 62px;

          input {
            border: 2px solid white;
            background: transparent;
            padding: 10px 15px;
            color: white;
            margin-bottom: 16px;

            &::placeholder {
              color: white;
            }

            &[type='text'] {
              width: 100%;
            }

            &[type='tel'] {
              width: 160px;
            }

            &[type='email'] {
              width: 206px;
              margin-left: auto;
            }
          }

          textarea {
            border: 2px solid white;
            background: transparent;
            padding: 10px 15px;
            color: white;
            resize: none;
            width: 100%;
            margin-bottom: 22px;

            &::placeholder {
              color: white;
            }
          }

          button {
            a {
              color: black;
              text-transform: uppercase;
              text-decoration: none;
              width: 108px;
              height: 33px;
              display: flex;
              align-items: center;
              justify-content: center;
              background: #ffc600;
            }
          }
        }

        .contacts {
          margin-bottom: 68px;

          .contact__item {
            display: flex;
            color: white;
            font-family: "Myriad Pro", sans-serif;

            &:not(:last-child) {
              margin-bottom: 28px;
            }

            h5 {
              font-weight: 600;
              font-size: 16px;
              min-width: 80px;
            }

            p {
              opacity: 0.5;
              font-family: "Myriad Pro", sans-serif;
              font-size: 12px;
            }
          }
        }

        .social__links {
          display: flex;
          padding: 8px 22px;
          border-top: 2px solid rgba(255, 255, 255, 0.5);

          a {
            border-radius: 50%;
            background: white;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #2046b3;
            &:not(:last-child){
              margin-right: 5px;
            }

            img {
              width: 10px;
              height: 10px;
            }
          }
        }
      }
    }
  }
}