* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

body {
  background: #161616;
}

.sec__title {
  margin-bottom: 23px;
}

.sec__title h3 {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #000000;
  letter-spacing: -1px;
}

.sec__title h3 span {
  color: #ffc600;
  font-size: 50px;
}

.sec__title h3 span:nth-child(2) {
  color: black;
}

.sec__discription .descr__title {
  color: #1d1d1d;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 20px;
}

.sec__discription .descr__title span {
  font-size: 16px;
}

.sec__discription .descr__text {
  font-size: 13px;
  color: #595959;
}

#uptotop {
  display: none;
  position: fixed;
  left: 75%;
  bottom: 20px;
  cursor: pointer;
  opacity: 0.6;
  border-radius: 50%;
  background: white;
}

#uptotop img {
  width: 60px;
  height: 60px;
}

header {
  background-image: url("../img/bg_img_header.png"), url("../img/bg_col_header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .container {
  padding: 130px 0 0;
}

header .container .sec__wrap h1 {
  font-family: "Myriad Pro", sans-serif;
  font-size: 202px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: -10px;
  line-height: 150px;
}

header .container .sec__wrap h1 span {
  color: #ffc600;
}

header .container .sec__wrap p {
  color: #ffffff;
  font-family: "Myriad Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
  text-align: left;
  width: 390px;
  margin-bottom: 111px;
}

header .container .sec__wrap p span {
  color: #ffc600;
}

header .container .sec__wrap .navigation {
  background: url("../img/bg_img2_header.png") center/cover;
  padding: 70px 46px 418px;
}

header .container .sec__wrap .navigation h2 {
  font-family: "Myriad Pro", sans-serif;
  max-width: 460px;
  font-size: 60px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -3px;
  color: #ffffff;
  margin-bottom: 60px;
}

header .container .sec__wrap .navigation h2 span {
  color: #ffc600;
}

header .container .sec__wrap .navigation .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

header .container .sec__wrap .navigation .menu ul li {
  list-style: none;
}

header .container .sec__wrap .navigation .menu ul li a {
  text-decoration: none;
  font-family: "Myriad Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #ffc600;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .container .sec__wrap .navigation .menu ul li a:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 1px;
  background: #ffc600;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .container .sec__wrap .navigation .menu ul li a:hover {
  color: white;
}

header .container .sec__wrap .navigation .menu ul li a:hover:after {
  width: 100%;
}

header .container .sec__wrap .navigation .menu ul li:not(:last-child) {
  margin-right: 35px;
}

.about {
  font-family: "Myriad Pro", sans-serif;
}

.about .container .sec__wrap {
  background: white;
  padding-bottom: 111px;
}

.about .container .sec__wrap .sec__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 36px 3px 72px 133px;
}

.about .container .sec__wrap .sec__head .sec__title {
  width: 49%;
  border-right: 1px solid #c4c4c4;
  padding: 20px 0;
}

.about .container .sec__wrap .sec__head .sec__title h3 {
  color: #717171;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
}

.about .container .sec__wrap .sec__head .sec__title h3 span {
  font-size: 50px;
  line-height: 50px;
}

.about .container .sec__wrap .sec__head .sec__title h2 {
  font-size: 80px;
  font-weight: 600;
  line-height: 68px;
}

.about .container .sec__wrap .sec__head .sec__title h2 span {
  color: #ffc600;
}

.about .container .sec__wrap .sec__head .sec__discription {
  width: 49%;
}

.about .container .sec__wrap .sec__body .sec__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.about .container .sec__wrap .sec__body .sec__items .sec__item {
  max-width: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.about .container .sec__wrap .sec__body .sec__items .sec__item .item__pic {
  margin-bottom: 24px;
}

.about .container .sec__wrap .sec__body .sec__items .sec__item .item_title {
  color: #000000;
  font-size: 18px;
  margin-bottom: 19px;
}

.about .container .sec__wrap .sec__body .sec__items .sec__item p {
  color: #000000;
  font-style: italic;
  font-size: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.projects .container .sec__wrap {
  padding: 0 81px 26px;
  background: white;
}

.projects .container .sec__wrap .sec__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  font-size: 9px;
}

.projects .container .sec__wrap .sec__menu ul li {
  list-style: none;
}

.projects .container .sec__wrap .sec__menu ul li a {
  text-decoration: none;
  color: #101010;
  position: relative;
}

.projects .container .sec__wrap .sec__menu ul li a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  left: 50%;
  bottom: -4px;
  background: #ffc600;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: .4s;
  transition: .4s;
}

.projects .container .sec__wrap .sec__menu ul li a:hover:after {
  width: 23px;
}

.projects .container .sec__wrap .sec__menu ul li:not(:last-child) {
  margin-right: 20px;
}

.projects .container .sec__wrap .sec__menu ul li:first-child {
  margin-right: 35px;
}

.projects .projects__pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.projects .projects__pics .projects__pic {
  width: calc(100% / 4);
  height: 267px;
  overflow: hidden;
}

.projects .projects__pics .projects__pic img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 3s;
  transition: 3s;
}

.projects .projects__pics .projects__pic img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.strategic .container .sec__wrap {
  background: white;
  padding: 65px 65px 65px 79px;
}

.strategic .container .sec__wrap .sec__discription {
  margin-bottom: 43px;
}

.strategic .container .sec__wrap .strategic__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 860px;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto;
}

.strategic .container .sec__wrap .strategic__items .strategic__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.strategic .container .sec__wrap .strategic__items .strategic__item .item__img {
  width: 50%;
  overflow: hidden;
}

.strategic .container .sec__wrap .strategic__items .strategic__item .item__img img {
  width: 100%;
  -webkit-transition: 4s;
  transition: 4s;
}

.strategic .container .sec__wrap .strategic__items .strategic__item .item__img img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.strategic .container .sec__wrap .strategic__items .strategic__item .item__text {
  width: 50%;
  padding: 0 40px;
}

.strategic .container .sec__wrap .strategic__items .strategic__item:nth-child(even) .item__img {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.strategic .container .sec__wrap .strategic__items .strategic__item:nth-child(even) .item__text {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.services .container .sec__wrap {
  padding: 41px 184px 58px 50px;
  background: url("../img/sec_bg_services.png") center/cover, url("../img/sec_bg_services2.png") center/cover;
}

.services .container .sec__wrap .sec__title {
  margin-bottom: 55px;
}

.services .container .sec__wrap .sec__title h3 {
  color: white;
}

.services .container .sec__wrap .sec__title h3 span:nth-child(2) {
  color: white;
}

.services .container .sec__wrap .services__items {
  margin-left: auto;
  color: white;
  font-family: "Myriad Pro", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 540px;
  width: 100%;
}

.services .container .sec__wrap .services__items .services__item {
  max-width: 225px;
}

.services .container .sec__wrap .services__items .services__item h5 {
  font-size: 18px;
  margin-bottom: 26px;
}

.services .container .sec__wrap .services__items .services__item p {
  font-size: 11px;
}

.services .container .sec__wrap .services__items .services__item:nth-child(1), .services .container .sec__wrap .services__items .services__item:nth-child(2) {
  margin-bottom: 75px;
}

.team .container .sec__wrap {
  background: white;
  padding: 85px 69px 150px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.team .container .sec__wrap .team__content {
  width: 782px;
}

.team .container .sec__wrap .team__content .sec__discription {
  max-width: 624px;
  margin-bottom: 35px;
}

.team .container .sec__wrap .team__content .sec__discription .descr__title {
  font-size: 16px;
}

.team .container .sec__wrap .team__content .sec__discription .descr__text {
  font-size: 14px;
}

.team .container .sec__wrap .team__content .team__pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.team .container .sec__wrap .team__content .team__pics .team__pic {
  text-align: center;
  font-family: "Myriad Pro", sans-serif;
  margin-bottom: 16px;
}

.team .container .sec__wrap .team__content .team__pics .team__pic h5 {
  font-size: 16px;
  font-weight: 600;
}

.team .container .sec__wrap .team__content .team__pics .team__pic p {
  font-size: 16px;
  font-style: italic;
}

.testimonials .container .sec__wrap {
  background: black;
  color: white;
  padding: 55px 50px 136px;
}

.testimonials .container .sec__wrap .sec__title {
  margin-bottom: 0;
}

.testimonials .container .sec__wrap .sec__title h3 {
  color: white;
}

.testimonials .container .sec__wrap .testimonials__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 835px;
  width: 100%;
  margin-left: 42px;
}

.testimonials .container .sec__wrap .testimonials__content .sec__discription {
  max-width: 624px;
  width: 100%;
}

.testimonials .container .sec__wrap .testimonials__content .sec__discription .descr__title {
  color: white;
}

.testimonials .container .sec__wrap .testimonials__content .sec__discription .descr__text {
  color: white;
}

.testimonials .container .sec__wrap .testimonials__content .testimonials__phpto {
  text-align: center;
  font-family: "Myriad Pro", sans-serif;
}

.testimonials .container .sec__wrap .testimonials__content .testimonials__phpto .photo {
  width: 127px;
  height: 127px;
  margin-bottom: 26px;
}

.testimonials .container .sec__wrap .testimonials__content .testimonials__phpto h5 {
  font-size: 16px;
  font-weight: 600;
}

.testimonials .container .sec__wrap .testimonials__content .testimonials__phpto p {
  font-size: 16px;
  font-style: italic;
}

.blog .container .sec__wrap {
  background: white;
}

.blog .container .sec__wrap .blog__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 58px 115px;
}

.blog .container .sec__wrap .blog__nav .sec__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.blog .container .sec__wrap .blog__nav .sec__title .blog__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog .container .sec__wrap .blog__nav .sec__title .blog__menu ul {
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-family: "Myriad Pro", sans-serif;
  font-size: 18px;
  margin-top: 100px;
}

.blog .container .sec__wrap .blog__nav .sec__title .blog__menu ul li {
  list-style: none;
}

.blog .container .sec__wrap .blog__nav .sec__title .blog__menu ul li:not(:last-child) {
  margin-bottom: 20px;
}

.blog .container .sec__wrap .blog__nav .sec__title .blog__menu ul li a {
  text-decoration: none;
  color: #000;
  -webkit-transition: .3s;
  transition: .3s;
}

.blog .container .sec__wrap .blog__nav .sec__title .blog__menu ul li a:hover {
  color: #ffc600;
}

.blog .container .sec__wrap .blog__nav .blog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 738px;
}

.blog .container .sec__wrap .blog__nav .blog__items .blog__item {
  max-width: 180px;
  width: 100%;
}

.blog .container .sec__wrap .blog__nav .blog__items .blog__item .item__pic {
  width: 100%;
}

.blog .container .sec__wrap .blog__nav .blog__items .blog__item .item__pic img {
  width: 100%;
}

.blog .container .sec__wrap .blog__nav .blog__items .blog__item .item__date {
  margin-bottom: 20px;
}

.blog .container .sec__wrap .blog__nav .blog__items .blog__item .item__date h4 {
  font-family: "Myriad Pro", sans-serif;
  font-size: 18px;
  color: #ffc600;
}

.blog .container .sec__wrap .blog__nav .blog__items .blog__item .item__title {
  margin-bottom: 10px;
}

.blog .container .sec__wrap .blog__nav .blog__items .blog__item .item__title h4 {
  font-family: "Myriad Pro", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.blog .container .sec__wrap .blog__nav .blog__items .blog__item .item__text {
  font-family: "Myriad Pro", sans-serif;
  font-style: italic;
  font-size: 12px;
}

.contact .container .sec__wrap {
  background: #2046b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .container .sec__wrap .map {
  max-width: 42%;
}

.contact .container .sec__wrap .contact__form {
  max-width: 58%;
  padding: 52px 76px 44px;
}

.contact .container .sec__wrap .contact__form .sec__title h3 {
  color: white;
}

.contact .container .sec__wrap .contact__form .sec__title h3 span {
  color: #ffc600;
}

.contact .container .sec__wrap .contact__form .sec__title h3 span:nth-child(2) {
  color: white;
}

.contact .container .sec__wrap .contact__form .form {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 412px;
  text-align: justify;
  margin-bottom: 62px;
}

.contact .container .sec__wrap .contact__form .form input {
  border: 2px solid white;
  background: transparent;
  padding: 10px 15px;
  color: white;
  margin-bottom: 16px;
}

.contact .container .sec__wrap .contact__form .form input::-webkit-input-placeholder {
  color: white;
}

.contact .container .sec__wrap .contact__form .form input::-moz-placeholder {
  color: white;
}

.contact .container .sec__wrap .contact__form .form input:-ms-input-placeholder {
  color: white;
}

.contact .container .sec__wrap .contact__form .form input::-ms-input-placeholder {
  color: white;
}

undefined {
  color: white;
}

undefined {
  color: white;
}

undefined {
  color: white;
}

.contact .container .sec__wrap .contact__form .form input::placeholder {
  color: white;
}

.contact .container .sec__wrap .contact__form .form input[type='text'] {
  width: 100%;
}

.contact .container .sec__wrap .contact__form .form input[type='tel'] {
  width: 160px;
}

.contact .container .sec__wrap .contact__form .form input[type='email'] {
  width: 206px;
  margin-left: auto;
}

.contact .container .sec__wrap .contact__form .form textarea {
  border: 2px solid white;
  background: transparent;
  padding: 10px 15px;
  color: white;
  resize: none;
  width: 100%;
  margin-bottom: 22px;
}

.contact .container .sec__wrap .contact__form .form textarea::-webkit-input-placeholder {
  color: white;
}

.contact .container .sec__wrap .contact__form .form textarea::-moz-placeholder {
  color: white;
}

.contact .container .sec__wrap .contact__form .form textarea:-ms-input-placeholder {
  color: white;
}

.contact .container .sec__wrap .contact__form .form textarea::-ms-input-placeholder {
  color: white;
}

undefined {
  color: white;
}

undefined {
  color: white;
}

undefined {
  color: white;
}

.contact .container .sec__wrap .contact__form .form textarea::placeholder {
  color: white;
}

.contact .container .sec__wrap .contact__form .form button a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  width: 108px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #ffc600;
}

.contact .container .sec__wrap .contact__form .contacts {
  margin-bottom: 68px;
}

.contact .container .sec__wrap .contact__form .contacts .contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-family: "Myriad Pro", sans-serif;
}

.contact .container .sec__wrap .contact__form .contacts .contact__item:not(:last-child) {
  margin-bottom: 28px;
}

.contact .container .sec__wrap .contact__form .contacts .contact__item h5 {
  font-weight: 600;
  font-size: 16px;
  min-width: 80px;
}

.contact .container .sec__wrap .contact__form .contacts .contact__item p {
  opacity: 0.5;
  font-family: "Myriad Pro", sans-serif;
  font-size: 12px;
}

.contact .container .sec__wrap .contact__form .social__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 22px;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}

.contact .container .sec__wrap .contact__form .social__links a {
  border-radius: 50%;
  background: white;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #2046b3;
}

.contact .container .sec__wrap .contact__form .social__links a:not(:last-child) {
  margin-right: 5px;
}

.contact .container .sec__wrap .contact__form .social__links a img {
  width: 10px;
  height: 10px;
}
